/**
 * Common Definitions
 * My Baby Spa Rebuild
 *
 * Copyright (c) 2019. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

@color_background: white;
@color_text: #7e8b8c;

@section_spacing: 4rem;
@header_spacing: 1rem;
@paragraph_spacing: 1rem;
@button_padding: 0.5rem 1rem;
@input_padding: 0.5rem;
@finger_size: 2.5rem;

@phone_link_blue: #2B67A3;
@color_orange: #f7931d;
@color_green: #a3d770;
@color_pink: #e94b89;
@color_form_background: #33485d;
