/**
 * Content Mobile Style Sheet
 * My Baby Spa Rebuild
 *
 * Copyright (c) 2019. by Way2CU, http://way2cu.com
 * Authors: Anusic Vladimir
 */

section.features {
	padding: 520px 1rem 1rem 1rem;
	text-align: center;

	ul {
		padding: 0;
		margin: 0;

		li {
			list-style-type: none;
			display: block;
			margin-bottom: 2rem;
			padding: 1rem;
			color: white;
			position: relative;

			&:nth-of-type(1) {
				background-color: #e94b89;
			}

			&:nth-of-type(2) {
				background-color: #f0c30e;
			}

			&:nth-of-type(3) {
				background-color: #9a58b5;
			}

			&:after {
				content: '';
				position: absolute;
				top: 100%;
				left: 50%;
				width: 0px;
				height: 0px;

				margin-left: -20px;

				border: 20px solid transparent;
				border-top: 20px solid #e94b89;
			}

			&:nth-of-type(2):after {
				border-top-color: #f0c30e;
			}

			&:nth-of-type(3):after {
				border-top-color: #9a58b5;
			}

			svg {
				display: block;
				width: 170px;
				height: 170px;
				margin: 0 auto;
				background-color: white;
				border-radius: 50%;
			}

			h4 {
				font-size: 1.8rem;
			}
		}
	}
}

section.gallery {
	padding: 1rem;
	text-align: center;

	&.mobile {
		margin-top: 66px;
	}

	div.images {
		display: block;
		width: 100%;
		margin-bottom: 2rem;

		> a.image {
			display: inline-block;
			vertical-align: top;
			width: 35vw;
			margin: 1rem;

			border-radius: 4px;
			background-color: white;
			box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);

			text-align: center;
			white-space: nowrap;
			overflow: hidden;

			&:before {
				display: inline-block;
				vertical-align: middle;
				width: 0px;
				height: 100%;
				content: '';
			}

			> img {
				width: 40vw;
				height: auto;
				vertical-align: middle;
			}
		}
	}

	a.link {
		display: block;
		font-size: 1.6rem;
		padding: @button_padding;
		width: 205px;
		margin: 0 auto;
		background-color: @color_orange;
		color: white;
		text-decoration: none;
		border-radius: 5px;

		> svg {
			display: inline-block;
			vertical-align: middle;
			width: 50px;
			height: 50px;
			margin-right: 1rem;
		}

		&:active {
			background-color: @color_pink;
		}
	}
}

section.videos {
	padding: 200px 1rem;
	text-align: center;
 	position: relative;
 	background-image:
       url(../images/top-wave.svg) ,
 	  linear-gradient(transparent, #b5e8ff 250px, #1ea4e7 100%);
 	background-repeat: no-repeat;
 	background-position: left top;

 	&:after {
 		position: absolute;
 		bottom: 0px;
 		left: 0px;
 		height: 300px;
 		width: 100%;
 		content: '';

 		background-image: url(../images/bottom-white-wave.svg);
 		background-repeat: no-repeat;
 		background-position: left bottom;
 	}

	h2 {
		color: @phone_link_blue;
		font-weight: normal;
	}

	a.link {
		display: block;
		font-size: 1.6rem;
		padding: @button_padding;
		width: 205px;
		margin: 0 auto;
		margin-top: 2rem;
		background-color: @color_orange;
		color: white;
		text-decoration: none;
		border-radius: 5px;
		position: relative;
		z-index: 1;

		> svg {
			display: inline-block;
			vertical-align: middle;
			width: 50px;
			height: 50px;
			margin-right: 1rem;
		}

		&:active {
			background-color: @color_pink;
		}
	}

	a.thumbnail {
		display: block;
		position: relative;

		width: 80%;
		margin: 1rem auto;

		&:after {
			content: url(../images/youtube_social_icon_red.png);
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			pointer-events: none;
		}

		img {
			width: 100%;
			height: auto;
		}

		iframe {
			width: 80%;
		}
	}
}

section.testimonials {
	padding: 1rem;
	text-align: center;

	h2 {
		display: block;
		color: @phone_link_blue;
		margin-bottom: 2rem;
	}

	a.link {
		display: block;
		font-size: 1.6rem;
		padding: @button_padding;
		width: 205px;
		margin: 2rem auto;
		background-color: @color_orange;
		color: white;
		text-decoration: none;
		border-radius: 5px;
		position: relative;
		z-index: 1;

		&:active {
			background-color: @color_pink;
		}
	}
}

section.testimonials_main {
	padding: 1rem;
	text-align: center;

	h2 {
		color: @phone_link_blue;
		text-align: center;
		margin-bottom: 2rem;
	}
}

div.testimonial {
	display: block;
	width: 90%;
	padding: 1rem;
	margin: 0 auto;
	margin-bottom: 1rem;
	box-sizing: border-box;
	box-shadow: 1px 1px 4px 1px lighten(gray, 0.9);

	div.description {
		display: block;
	}

	img {
		display: block;
		margin: 0 auto;
		margin-bottom: 1rem;

		border: 2px solid @color_orange;
		border-radius: 50%;
		padding: 8px;
	}

	span.author {
		font-weight: 900;
	}
}

section.benefits {
	padding: 1rem 0rem;

	h2 {
		text-align: center;
		color: @phone_link_blue;
	}

	ul {
		display: block;
		margin: 0;
		padding: 1rem;
		list-style-type: none;
		text-align: center;
		background-color: @phone_link_blue;
		color: white;

		li {
			display: block;
			margin: 0 auto;
			width: 60%;
			padding-top: 140px;
			position: relative;

			&:before {
				content: "";
				background-image: url(../images/about-us-benefits-icons-mobile.svg);
				background-repeat: no-repeat;
				background-position: 0px 0px;
				background-size: auto 145px;

				width: 130px;
				height: 100px;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				padding-top: 60px;
			}

			&:nth-of-type(1):before {
				background-position: -520px 0px;
			}

			&:nth-of-type(2):before {
				background-position: -395px 0px;
			}

			&:nth-of-type(3):before {
				background-position: -270px 0;
			}

			&:nth-of-type(4):before {
				background-position: -135px 0px;
			}

			&:nth-of-type(5):before {
				background-position: -5px 0px;
			}
		}
	}

	article {
		padding: 1rem;
		padding-bottom: 400px;
		background-image: url(../images/baby.jpg);
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: 80% auto;
	}
}

section.contact_us {
	padding: 1rem;
	background-color: white;
	background-image: url(../images/water.jpg);
	background-position: center top;
	background-repeat: no-repeat;

	article {
		display: block;

		&:nth-of-type(2) {
			background-image: url(../images/baby-headphone.jpg);
			background-position: center bottom 80px;
			background-repeat: no-repeat;
			background-size: 60% auto;
			padding-bottom: 300px;
		}

		h2 {
			margin-top: 60px;
		}
	}
}

section.testimonials_main {
	background-color: #fff;
	margin-bottom: 60px;

	div.image_holder {
		img {
			display: block;
			width: 50%;
			margin: 1rem auto;
		}
	}

	div#banner {
		bottom: -50px;
	}
}