/**
 * Content Style Sheet
 * My Baby Spa Rebuild
 *
 * Copyright (c) 2019. by Way2CU, http://way2cu.com
 * Authors: Anusic Vladimir
 */

section.features {
	text-align: center;
	padding: @section_spacing calc(~'(100% - 1200px) / 2');

	ul {
		padding: 0;
		margin: 0;

		li {
			display: inline-block;
			vertical-align: top;
			color: white;
			list-style-type: none;
			max-width: 330px;
			min-height: 165px;
			margin: 5px 1rem 0;
			padding: 170px 1rem 1rem 1rem;
			position: relative;

			h4 {
				font-size: 2rem;
			}

			&:nth-of-type(1) {
				background-color: @color_pink;
			}

			&:nth-of-type(2) {
				background-color: #f0c30e;
			}

			&:nth-of-type(3) {
				background-color: #9a58b5;
			}

			svg {
				position: absolute;
				top: -30px;
				left: 50%;
				transform: translateX(-50%);
				width: 170px;
				height: 170px;
				background-color: white;
				border-radius: 50%;
			}

			&:after {
				content: '';
				position: absolute;
				top: 100%;
				left: 50%;
				width: 0px;
				height: 0px;

				margin-left: -20px;

				border: 20px solid transparent;
				border-top: 20px solid #e94b89;
			}

			&:nth-of-type(2):after {
				border-top-color: #f0c30e;
			}

			&:nth-of-type(3):after {
				border-top-color: #9a58b5;
			}
		}
	}
}

section.gallery {
	padding: @section_spacing calc(~'(100% - 1200px) / 2');
	padding-top: 100px;
	text-align: center;

	&.desktop {
		background-image: url(../images/water.jpg);
		background-position: center top;
		background-repeat: no-repeat;

		div.images {
			margin: 0;
		}
	}

	h2 {
		text-align: center;
		color: @phone_link_blue;
		font-size: 3rem;
		font-weight: normal;
	}

	a.link {
		display: block;
		font-size: 1.6rem;
		padding: @button_padding;
		width: 205px;
		margin: 0 auto;
		background-color: @color_orange;
		color: white;
		text-decoration: none;
		border-radius: 5px;

		> svg {
			display: inline-block;
			vertical-align: middle;
			width: 50px;
			height: 50px;
			margin-right: 1rem;
		}

		&:hover {
			background-color: @color_pink;
		}
	}

	div.images {
		display: block;
		margin-bottom: 2rem;

		> a.image {
			display: inline-block;
			vertical-align: top;

			.elements-in-row(5, 1rem);
			height: 170px;

			margin: 10px;
			margin-top: 10px;
			border-radius: 4px;
			background-color: white;
			box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);

			text-align: center;
			white-space: nowrap;
			overflow: hidden;

			&:before {
				display: inline-block;
				vertical-align: middle;
				width: 0px;
				height: 100%;
				content: '';
			}

			> img {
				vertical-align: middle;
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
}

@-webkit-keyframes video_gallery {
	0%   { background-position: left top; }
	100% { background-position: -300px top; }
}

@keyframes video_gallery {
	0%   { background-position: left top; }
	100% { background-position: -300px top; }
}

@-webkit-keyframes video_gallery2 {
	0%   { background-position: left bottom; }
	100% { background-position: -300px bottom; }
}

@keyframes video_gallery2 {
	0%   { background-position: left bottom; }
	100% { background-position: -300px bottom; }
}

section.videos {
	padding: 200px calc(~'(100% - 1200px) /2');
	position: relative;
	padding-bottom: 200px;
	background-image:
      url(../images/top-wave.svg) ,
	  linear-gradient(transparent, #b5e8ff 250px, #1ea4e7 100%);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;

	&:before {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 200px;
		width: 100%;
		content: '';

		background-color: rgba(255, 255, 255, 0.4);
		background-image: url(../images/top-wave.svg);
		background-repeat: no-repeat;
		background-position: left top;

		animation: video_gallery 10s ease-in-out infinite alternate-reverse;
	}

	&:after {
		position: absolute;
		bottom: -1px;
		left: 0px;
		height: 300px;
		width: 100%;
		content: '';

		background-image: url(../images/bottom-white-wave.svg);
		background-repeat: no-repeat;
		background-position: left bottom;

		animation: video_gallery2 10s ease-in-out infinite alternate-reverse;
	}

	h2 {
		text-align: center;
		color: @phone_link_blue;
		font-size: 3rem;
		font-weight: normal;
	}

	a.link {
		display: block;
		font-size: 1.6rem;
		padding: @button_padding;
		width: 205px;
		margin: 0 auto;
		margin-top: 2rem;
		background-color: @color_orange;
		color: white;
		text-decoration: none;
		border-radius: 5px;
		position: relative;
		z-index: 1;

		> svg {
			display: inline-block;
			vertical-align: middle;
			width: 50px;
			height: 50px;
			margin-right: 2rem;
		}

		&:hover {
			background-color: @color_pink;
		}
	}

	a.thumbnail {
		display: inline-block;
		position: relative;
		cursor: pointer;

		width: 30%;
		margin: 1rem;

		&:after {
			content: url(../images/youtube_social_icon_red.png);
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			pointer-events: none;
		}

		&.video_showing {
			&:after {
				display: none;
			}
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}

section.testimonials {
	padding: 4rem calc(~'(100% - 1200px) / 2');
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	h2 {
		display: block;
		flex: 0 0 100%;
		color: @phone_link_blue;
		margin-bottom: 2rem;
		text-align: center;
	}

	a.link {
		display: block;
		flex: 0 0 20%;
		font-size: 1.6rem;
		padding: @button_padding;
		width: 205px;
		margin: 0 auto;
		margin-top: 50px;
		text-align: center;
		background-color: @color_orange;
		color: white;
		text-decoration: none;
		border-radius: 5px;

		&:hover {
			background-color: @color_pink;
		}
	}
}

section.testimonials_main {
	padding: 4rem calc(~'(100% - 1200px) / 2');
	background: linear-gradient(white 50%, #3498db);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	min-height: 1000px;

	h2 {
		color: @phone_link_blue;
		text-align: center;
		margin-bottom: 2rem;
	}

	div.image_holder {
		width: 47%;
		float: left;
		margin: 1rem;
		padding: 1rem;
		box-sizing: border-box;
		text-align: center;

		> img {
			width: 350px;
			height: auto;
		}
	}

	div.testimonial {
		float: left;
		width: 47%;
		margin: 1rem;
		box-sizing: border-box;
	}
}

div.testimonial {
	flex: 0 0 45%;
	padding: 1rem;
	box-shadow: 1px 1px 4px 1px lighten(gray, 0.9);
	background-color: white;

	figure {
		margin: 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: flex-start;

		img {
			flex: 0 0 20%;

			border: 2px solid @color_orange;
			border-radius: 50%;
			padding: 8px;

			width: auto;
			height: auto;
		}

		figcaption {
			flex: 0 0 70%;

			span.author {
				font-weight: 900;
			}
		}
	}
}

div.clear_fix {
	clear: both;
}

section.benefits {
	padding: 4rem calc(~'(100% - 1200px) / 2');
	text-align: center;

	h2 {
		font-size: 3rem;
		color: @phone_link_blue;
	}

	ul {
		padding: 0;
		margin: 0;

		li {
			list-style-type: none;
			display: inline-block;
			vertical-align: top;
			.elements-in-row(5, 1rem);
			position: relative;
			padding-top: 115px;

			> p {
				font-size: 1.3rem;
			}

			&:before {
				content: "";
				background-image: url(../images/about-us-benefits-icons.svg);
				background-repeat: no-repeat;
				background-position: 0px 0px;
				background-size: auto 100px;

				width: 130px;
				height: 100px;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				padding-top: 180px;
			}

			&:nth-of-type(1):before {
				background-position: -520px 0px;
			}

			&:nth-of-type(2):before {
				background-position: -390px 0px;
			}

			&:nth-of-type(3):before {
				background-position: -260px 0;
			}

			&:nth-of-type(4):before {
				background-position: -130px 0px;
			}

			&:nth-of-type(5):before {
				background-position: 0px 0px;
			}
		}
	}

	article {
		padding: 1rem 1rem 1rem 50%;
		background-image: url(../images/baby.jpg);
		background-position: left;
		background-repeat: no-repeat;
		background-size: 35% auto;
		margin-top: 100px;
		text-align: right;

		> p {
			font-size: 1.3rem
		}
	}
}

section.contact_us {
	padding: @section_spacing calc(~'(100% - 1200px) / 2');
	background-image: url(../images/water.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	min-height: initial;

	article {
		display: block;
		padding: 2rem 1rem 2rem 35%;

		&:nth-of-type(2) {
			background-image: url(../images/baby-headphone.jpg);
			background-position: bottom left;
			background-repeat: no-repeat;
			background-size: 25% auto;
		}

		p,
		li {
			font-size: 1.3rem;
		}

		h2 {
			font-size: 2.2rem;
			margin-top: 100px;
		}
	}
}

/*
 * Media Query
*/

@media only screen and (min-width: 1000px) and (max-width: 1200px) {

	section.features {
		ul li {
			padding: 150px 1rem 1rem 1rem;
			max-width: 200px;
			min-height: 250px;
		}
	}

	section.gallery {
		padding: 1rem;
	}

	section.testimonials {
		ul {
			padding: 1rem;

			li {
				min-height: 180px;

				p {
					margin: 0;
				}
			}
		}
	}

	section.testimonials_main {
		padding: 1rem;

		div.image_holder {
			width: 44%;
		}

		div.testimonial {
			width: 44%;
		}
	}

	section.benefits {
		ul {
			padding: 0.5rem;
		}
	}
}