/**
 * Footer Style Sheet
 * My Baby Spa Rebuild
 *
 * Copyright (c) 2019. by Way2CU, http://way2cu.com
 * Authors: Anusic Vladimir
 */

@keyframes duck {
 	0% {bottom: 130px;}
 	50% {bottom: 150px;}
 	100% {bottom: 130px;}
}

@keyframes moveAcross {
 	0% {
 		left: -500px;
 	}
 	100% {
 		left: 100%;
 	}
}

@keyframes moveAcross-cloud-third {
 	0% {
 		right: -500px;
 	}
 	100% {
 		right: 100%;
 	}
}

footer {
	height: 1000px;
	padding: 4rem calc(~'(100% - 1200px) / 2');
	padding-top: 200px;
	position: relative;
	background: linear-gradient(#1b75bc, #3498db, white);
	overflow: hidden;

	clear: both;

	div.form_container {
		width: 100%;
		height: 140px;
		background-color: @color_form_background;
		position: absolute;
		top: 0;
		left: 0;

		h2 {
			display: block;
			margin: 0px auto;
			padding: 20px 0px;
			text-align: center;
			color: white;
			font-size: 1.3rem;
		}

		form {
			text-align: center;
  			margin: 0px auto;

  			label {
  				display: inline-block;

  				span {
  					display: inline-block;
  					vertical-align: middle;
  					margin: 0px 15px;
  					color: white;
  					font-size: 1.3rem;
  				}

  				input {
  					display: inline-block;
  					vertical-align: middle;
  					margin: 0px;
  					font-size: 1.4em;
  					padding: 5px;
  					border: 1px solid black;
  					border-radius: 5px;
  					transition: 0.5s all;
  					color: #1d4779;

  					&:hover,
  					&:focus {
  						border: 1px solid #f0c30e;
  					}
  				}
  			}

  			div.controls {
  				display: inline-block;
  				vertical-align: top;
  				margin: 0px 15px 0px 0px;

  				button {
  					padding: 1px 30px;
  					background-color: #f7931d;
  					border: 1px solid #f7931d;
  					border-radius: 5px;
  					color: white;
  					font-size: 1.6rem;
  					transition: 0.5s all;
  					cursor: pointer;

  					&:hover {
  						background-color: #f0c30e;
  						border: 1px solid #f0c30e;
  					}
  				}
  			}
		}
	}

	article {
		display: block;
		margin: 0px auto;
		text-align: center;
		background-color: rgba(225, 225, 225, 0.1);
		max-width: 500px;
		color: white;
		font-size: 2.2rem;
		padding: 10px;
		text-shadow: 1px 1px 3px rgba(0,0,0,0.5);

		h2 {
			font-size: 3.4rem;
		}

		p {
			font-size: 2.2rem;
		}
	}

	a.logo {
		display: block;
		width: 450px;
		margin: 0 auto;
		margin-top: 150px;

		> svg {
			width: 450px;
			height: auto;
		}
	}

	a.phone {
		text-decoration: none;
		text-align: center;
		font-size: 3.3rem;
		color: white;
		display: block;
		width: 450px;
		margin: 0 auto;
		margin-top: 250px;
		position: relative;
		z-index: 1;

		> svg {
			display: inline-block;
			vertical-align: middle;
			width: 4rem;
			height: 4rem;
			margin-right: 0.5rem;
			margin-bottom: 5px;
			fill: white;
		}
	}

	figure {
		margin:0px;

		&.cloud {
			background-size: 100% auto;
			background-repeat: no-repeat;
			background-position: center top;
			position: absolute;
			animation: moveAcross linear infinite;

			&.first {
				width: 428px;
				height: 212px;
				background-image: url(../images/cloud-1.svg);
				top: 200px;
				left: 50px;
				opacity: 0.8;
				animation-delay: -5s;
				animation-duration: 50s;
			}

			&.second {
				width: 237px;
				height: 126px;
				background-image: url(../images/cloud-2.svg);
				top: 440px;
				left: 300px;
				opacity: 0.45;
				animation-delay: -2s;
				animation-duration: 80s;
			}

			&.third {
				width: 405px;
				height: 192px;
				background-image: url(../images/cloud-3.svg);
				top: 550px;
				right: 150px;
				opacity: 0.8;
				animation: moveAcross-cloud-third linear infinite ;
				animation-delay: -3s;
				animation-duration: 50s;
			}
		}

		&.island {
			width: 570px;
			height: 399px;
			background-image: url(../images/island.svg);
			background-size: 100% auto;
			background-repeat: no-repeat;
			background-position: center top;
			position: absolute;
			bottom: 130px;
			left: 10px;
		}

		&.duck {
			width: 240px;
			height: 190px;
			background-image: url(../images/duck.svg);
			background-size: 100% auto;
			background-repeat: no-repeat;
			background-position: center top;
			position: absolute;
			bottom: 130px;
			right: 200px;

			animation: duck 6s linear infinite;
		}

		&.water {
			width: 100%;
			height: 279px;
			background-image: url(../images/ocean.svg);
			background-size: auto 100%;
			background-repeat: no-repeat;
			background-position: center top;
			position: absolute;
			bottom: 0px;
			left: 0px;
		}
	}
}

div.copyright.light {
	color: white;
	text-align: center;
	background-position: calc(~'50% - 100px') center;

	position: absolute;
	bottom: 0;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
	transition: all 0.3s;

	> a {
		color: @color_orange;

		&:hover {
			text-decoration: underline;
		}
	}
}

/*
 * Media Query
*/

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
	footer {
		a.phone {
			margin-top: 330px;
		}

		div.form_container {
			height: 190px;

			form div.controls {
				display: block;
				margin-top: 1rem;
			}
		}
	}
}