/**
 * Footer Mobile Style Sheet
 * My Baby Spa Rebuild
 *
 * Copyright (c) 2019. by Way2CU, http://way2cu.com
 * Authors: Anusic Vladimir
 */

footer {
	padding: 1rem;
	position: relative;
	background: linear-gradient(#1b75bc, #3498db, white);
 	min-height: 600px;
 	overflow: hidden;

	div.form_container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-image: url(../images/mobile-background-form.jpg);
		text-align: center;
		padding: 2rem 0;

		h2 {
			display: block;
			margin: 10px auto;
			font-size: 1.3rem;
			color: @phone_link_blue;
		}

		form {
			padding: 1rem;

			label {
 				display: block;
 				margin-bottom: 1rem;

 				span {
 					display: block;
 					color: #33485d;
 				}

	 			input {
	 				display: block;
	 				margin: 0px auto;
	 				margin-top: 10px;
	 				font-size: 1.4em;
	 				padding: 10px;
	 				border: 1px solid black;
	 				border-radius: 5px;
	 				transition: 0.5s all;
	 				color: #1d4779;

	 				&:focus {
	 					border: 1px solid #f0c30e;
	 				}
	 			}
	 		}

	 		div.controls button {
	 			padding: 3px 75px;
	 			background-color: #f7931d;
	 			border: 1px solid #f7931d;
	 			border-radius: 5px;
	 			color: white;
	 			font-size: 2rem;
	 			transition: 0.5s all;
	 			margin-top: 20px;
	 		}
		}
	}

	article {
		display: block;
	 	margin: 0px auto;
	 	margin-top: 1rem;
	 	text-align: center;
	 	background-color: rgba(225, 225, 225, 0.1);
	 	max-width: 260px;
	 	color: white;
	 	padding: 10px;
	 	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);

	 	h2 {
	 		border-bottom: 3px solid white;
	 		font-size: 1.5rem;
	 	}

	 	p {
	 		font-size: 1.3rem;
	 	}
	}

	a.logo {
		display: block;
		width: 200px;
		margin: 0 auto;
		margin-top: 1rem;

		> svg {
			width: 200px;
			height: auto;
		}
	}

	a.phone {
		text-decoration: none;
		text-align: center;
		font-size: 2rem;
		color: white;
		display: block;
		width: 260px;
		margin: 0 auto;
		margin-top: 210px;
		position: relative;
		z-index: 1;

		> svg {
			display: inline-block;
			vertical-align: middle;
			width: 3rem;
			height: 3rem;
			margin-right: 0.5rem;
			margin-bottom: 5px;
			fill: white;
		}
	}

	figure {
 		margin:0px;

 		&.cloud {
 			background-size: 100% auto;
		 	background-repeat: no-repeat;
		 	background-position: center top;
		 	position: absolute;

		 	&.first {
		 		width: 128px;
			 	height: 80px;
			 	background-image: url(../images/cloud-1.svg);
			 	top: 50%;
			 	left: 5px;
			 	opacity: 0.8;
		 	}

		 	&.second {
		 		width: 100px;
			 	height: 55px;
			 	background-image: url(../images/cloud-2.svg);
			 	top: 55%;
			 	right: 5px;
			 	opacity: 0.45;
		 	}

		 	&.third {
		 		width: 120px;
			 	height: 70px;
			 	background-image: url(../images/cloud-3.svg);
			 	top: 60%;
			 	right: 150px;
			 	opacity: 0.8;
		 	}
 		}

 		&.island {
		 	width: 190px;
		 	height: 135px;
		 	background-image: url(../images/island.svg);
		 	background-size: 100% auto;
		 	background-repeat: no-repeat;
		 	background-position: center top;
		 	position: absolute;
		 	bottom: 140px;
		 	left: 5px
		}

		&.duck {
		 	width: 90px;
		 	height: 75px;
		 	background-image: url(../images/duck.svg);
		 	background-size: 100% auto;
		 	background-repeat: no-repeat;
		 	background-position: center top;
		 	position: absolute;
		 	bottom: 130px;
		 	right: 0px;
		}

		&.water {
			width: 100%;
		 	height: 250px;
		 	background-image: url(../images/ocean.svg);
		 	background-size: auto 100%;
		 	background-repeat: no-repeat;
		 	background-position: center top;
		 	position: absolute;
		 	bottom: 0px;
		 	left: 0px;
		}
	}
}

div.copyright.light {
	color: white;
	text-align: center;
	background-position: left center;
	background-size: 30px 30px;
	font-size: 0.6rem;
	padding-left: 40px;


	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.3s;

	> a {
		color: @color_orange;
	}
}