/**
 * Header Style Sheet
 * My Baby Spa Rebuild
 *
 * Copyright (c) 2019. by Way2CU, http://way2cu.com
 * Authors: Anusic Vladimir
 */

header.stock.generic {
	padding: 1rem calc(~'(100% - 1200px) / 2');
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2);
	text-align: center;

	a.logo {
		vertical-align: middle;

		img {
			width: 184px;
			height: 87px;
		}
	}

	nav#main {
		vertical-align: bottom;
		padding: 0 calc(~'(100% - 1000px) / 2');

		> a {
			display: inline-block;
			vertical-align: middle;
			text-decoration: none;
			position: relative;
			border: 3px solid transparent;
			color: @color_text;
			font-size: 1.5rem;
			padding: 1rem 1.2rem;

			&.active {
				color: @color_orange;

				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					z-index: -1;
					background-color: @color_orange;
					height: 4px;
					transition: all 0.4s;
					transition-timing-function: ease-out;
				}
			}

			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 100%;
				right: 0;
				z-index: -1;
				background-color: @color_orange;
				height: 4px;
				transition: all 0.4s;
				transition-timing-function: ease-out;
			}

			&:hover:before,
			&:active:before,
			&:focus:before {
				color: @color_orange;
				left: 0;
			}
		}
	}

	a.phone {
		vertical-align: middle;
		text-decoration: none;
		font-size: 2.7rem;
		color: @phone_link_blue;
		direction: ltr;

		> svg {
			display: inline-block;
			vertical-align: middle;
			width: 3rem;
			height: 3rem;
			margin-right: 0.5rem;
			margin-bottom: 5px;
			fill: @phone_link_blue;
		}
	}
}

section.header {
	position: relative;
	min-height: 650px;

	div.slide {
		width: 100%;
	    height: 650px;
	    position: absolute;
	    top: 0px;
	    left: 0px;
		opacity: 0;
		background-color: #073a6c;
	    background-repeat: no-repeat;
	    background-position: center top;
	    background-size: auto 650px;

	    transition: opacity 0.5s;

	    &.visible {
	    	opacity: 1;
	    }

	    div.slides_text {
	    	padding: 1rem;
	    	min-width: 40vw;

	    	position: absolute;
	    	top: 130px;
	    	right: 200px;

	    	color: white;
	    	text-shadow: 2px 3px 4px black;

	    	h2 {
	    		font-size: 3rem;
	    	}

	    	p {
	    		font-size: 2.2rem;
	    		text-align: center;
	    	}

	    	li {
	    		font-size: 1.9rem;
	    	}
	    }
	}

	a.previous {
		width: 110px;
		height: 110px;
		position: absolute;
		right: 30px;
		top: 325px;
		transition: 0.3s all;

		> svg {
			width: 100px;
			height: 100px;
		}
	}

	a.next {
		width: 110px;
		height: 110px;
		position: absolute;
		left: 30px;
		top: 325px;
		transition: 0.3s all;

		> svg {
			width: 100px;
			height: 100px;
		}
	}

	div#controls {
		display: block;
		width: 300px;
		position: absolute;
		left: 50%;
		top: 30px;
		margin-left: -150px;
		text-align: center;
	}

	div#controls a {
		display: inline-block;
		width: 18px;
		height: 18px;

		position: relative;

		margin-left: 3px;
		margin-right: 3px;

		border-radius: 50%;
		box-shadow: 0px 0px 0px 1px white;

		transition: all 0.3s;
	}

	div#controls a:before {
		position: absolute;
		width: 14px;
		height: 14px;
		content: '';

		top: 2px;
		left: 2px;

		border-radius: 50%;
		background-color: transparent;

		transition: all 0.3s;
	}

	div#controls a.active:before {
		background-color: white;
	}

	div#banner {
		position: absolute;
		background-color: #d04443;
		background-image: url(../images/gift.jpg);
		border-radius: 4px;
		color: white;
		left: calc(~'(100% - 1100px) / 2');
		top: -15px;
		width: 280px;
		padding: 0.5rem 1rem;

		> p {
			font-size: 2rem;
			display: inline-block;
			width: 200px;
			vertical-align: middle;
			margin-bottom: 0;
		}

		> svg:nth-of-type(1) {
			width: 4rem;
			height: 4rem;
			display: inline-block;
			vertical-align: middle;
		}

		> svg:nth-of-type(2) {
			width: 115px;
			height: 86px;
			position: absolute;
			left: -105px;
			top: -40px;
		}

		&:before {
			content: "";
			position: absolute;
			top: 5px;
			left: 7px;
			width: 95%;
			height: 88%;
			border: 1px dashed white;
			border-radius: 4px;
		}
	}

	div.form_container {
		width: 100%;
		height: 200px;
		background-color: rgba(29, 71, 121, 0.5);
		position: absolute;
		bottom: -70px;

		h2 {
			display: block;
			margin: 0px auto;
			padding: 20px 0px;
			text-align: center;
			color: white;
			font-size: 1.3rem;
		}

		form {
			text-align: center;
  			margin: 0px auto;

  			label {
  				display: inline-block;

  				span {
  					display: inline-block;
  					vertical-align: middle;
  					margin: 0px 15px;
  					color: white;
  					font-size: 1.3rem;
  				}

  				input {
  					display: inline-block;
  					vertical-align: middle;
  					margin: 0px;
  					font-size: 1.4em;
  					padding: 5px;
  					border: 1px solid black;
  					border-radius: 5px;
  					transition: 0.5s all;
  					color: #1d4779;

  					&:hover,
  					&:focus {
  						border: 1px solid #f0c30e;
  					}
  				}
  			}

  			div.controls {
  				display: inline-block;
  				vertical-align: top;
  				margin: 0px 15px 0px 0px;

  				button {
  					padding: 1px 30px;
  					background-color: #f7931d;
  					border: 1px solid #f7931d;
  					border-radius: 5px;
  					color: white;
  					font-size: 1.6rem;
  					transition: 0.5s all;
  					cursor: pointer;

  					&:hover {
  						background-color: #f0c30e;
  						border: 1px solid #f0c30e;
  					}
  				}
  			}
		}
	}

	&.about_us {
		background-image: url(../images/about-us-background-header.jpg);
		background-position: center top;
		background-repeat: no-repeat;
		min-height: 730px;

		padding: @section_spacing calc(~'(100% - 1200px) / 2') @section_spacing 50%;

		article {
			color: @phone_link_blue;
			border: 2px solid white;
			background-color: rgba(251,251,251,0.8);
			padding: 1rem;

			h2 {
				font-size: 2rem;
			}

			p {
				font-size: 1.3rem;
			}
		}
	}
}

/*
 * Media Query
*/

@media only screen and (min-width: 1000px) and (max-width: 1200px) {

	header.stock.generic {
		a.logo {
			> img {
				width: 100px;
				height: 50px;
			}
		}

		nav#main {
			margin: 0 50px;

			> a {
				font-size: 1rem;
			}
		}

		a.phone {
			font-size: 1.4rem;

			> svg {
				width: 2rem;
				height: 2rem;
			}
		}
	}

	section.header {
		position: relative;

		div#banner {
			position: absolute;
			background-image: url(../images/gift.jpg);
			border-radius: 4px;
			color: white;
			left: calc(~'(100% - 750px) / 2');
			top: -20px;
			width: 140px;
			padding: 0.5rem 1rem;

			> p {
				font-size: 1rem;
				display: inline-block;
				width: 100px;
				vertical-align: middle;
				margin-bottom: 0;
			}

			> svg:nth-of-type(1) {
				width: 2rem;
				height: 2rem;
				display: inline-block;
				vertical-align: middle;
			}

			> svg:nth-of-type(2) {
				width: 7vw;
				height: 86px;
				position: absolute;
				left: -50px;
				top: -40px;
			}

			&:before {
				content: "";
				position: absolute;
				top: 5px;
				left: 7px;
				width: 90%;
				height: 80%;
				border: 1px dashed white;
				border-radius: 4px;
			}
		}

		div.slide div.slides_text {
			right: 120px;
		}

		div.form_container form label input {
			max-width: 200px;
		}

		&.about_us {
			padding: 1rem 1rem 1rem 50%;
		}
	}
}