/**
 * Header Mobile Style Sheet
 * My Baby Spa Rebuild
 *
 * Copyright (c) 2019. by Way2CU, http://way2cu.com
 * Authors: Anusic Vladimir
 */

header.stock.generic.mobile_title {
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2);
	text-align: center;
	padding: 0.4rem 0;
	background-color: white;

	a.menu {
		display: inline-block;
		vertical-align: middle;

		-ms-user-select: none;
		user-select: none;

		> svg {
			width: 3rem;
			height: 3rem;
			fill: @phone_link_blue;
		}
	}

	a.logo {
		display: inline-block;
		vertical-align: middle;
		margin: 0 calc(~'(100% - 230px) / 2');

		> img {
			width: 100px;
		}
	}

	a.phone {
		display: inline-block;
		vertical-align: middle;

		> svg {
			width: 3rem;
			height: 3rem;
			fill: @color_green;
		}
	}

	.mobile_menu {
		display: block;
		width: 100%;
		right: 0px;
		max-height: 0px;
		overflow: hidden;
		transition: all 0.5s;
		background-color: white;
		box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	}

	.mobile_menu.visible {
		max-height: 100vh;
		top: 65px;
	}

	.mobile_menu a {
		display: block;
		text-align: center;
		color: @phone_link_blue;
		text-decoration: none;

		padding: 1rem 0rem;

		-ms-user-select: none;
		user-select: none;
	}

	.mobile_menu a:active {
		background-color: orange;
		color: white;
	}
}

section.header {
	margin-top: 66px;
	min-height: 700px;
	position: relative;
	background-color: #073a6c;

	div.slide {
	    position: absolute;
		left: 0px;
		right: 0px;
		opacity: 0;

	    transition: opacity 0.5s;

	    &.visible {
	    	opacity: 1;
		}
		
		img {
			width: 100%;
			height: auto;
		}

	    div.slides_text {
	    	display: block;
	    	margin: 0 auto;
	    	width: 100%;
	    	height: auto;
			padding: 80px 1.5rem 1rem 1.5rem;
	    	margin-top: 10px;
	    	min-height: 300px;
			box-sizing: border-box;

	    	color: white;
			text-shadow: 2px 3px 4px black;
			
			h2 {
				font-size: 2rem;
			}

			ul,
			ol {
				margin: 0;
				padding: 0;
				padding-right: 1rem;
			}

			li {
				font-size: 1.3rem;
			}

	    	p {
	    		text-align: center;
	    	}
	    }
	}

	a.previous {
		width: @finger_size;;
		height: @finger_size;;
		position: absolute;
		right: 10px;
		top: 160px;
		right: 30%;
		transform: translateX(-30%);
		transition: 0.3s all;

		> svg {
			width: @finger_size;;
			height: @finger_size;;
		}
	}

	a.next {
		width: @finger_size;;
		height: @finger_size;;
		position: absolute;
		top: 160px;
		left: 30%;
		transform: translateX(30%);
		transition: 0.3s all;

		> svg {
			width: @finger_size;;
			height: @finger_size;;
		}
	}

	div#banner {
		position: absolute;
		background-color: #d04443;
		background-image: url(../images/gift.jpg);
		border-radius: 4px;
		color: white;
		top: 150px;
		right: -75%;
		transform: translateX(-50%);
		width: 200px;
		padding: 0.5rem 1rem;
		transition: all 0.3s;

		> p {
			display: inline-block;
			width: calc(~'(100% - 2.5rem)');
			vertical-align: middle;
			margin-bottom: 0;
		}

		> svg {
			width: @finger_size;
			height: @finger_size;
			display: inline-block;
			vertical-align: middle;
		}

		&:before {
			content: "";
			position: absolute;
			top: 5px;
			left: 7px;
			width: 93%;
			height: 80%;
			border: 1px dashed white;
			border-radius: 4px;
		}

		&.shown {
			top: 50px;
			right: 50%;
			transform: translateX(50%);
			transition: all 0.3s;
		}
	}

	div.form_container {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-image: url(../images/mobile-background-form.jpg);
		text-align: center;
		padding: 2rem 0;

		h2 {
			display: block;
			margin: 10px auto;
			font-size: 1.3rem;
			color: @phone_link_blue;
		}

		form {
			padding: 1rem;

			label {
 				display: block;
 				margin-bottom: 1rem;

 				span {
 					display: block;
 					color: #33485d;
 				}

	 			input {
	 				display: block;
	 				margin: 0px auto;
	 				margin-top: 10px;
	 				font-size: 1.4em;
	 				padding: 10px;
	 				border: 1px solid black;
	 				border-radius: 5px;
	 				transition: 0.5s all;
	 				color: #1d4779;

	 				&:focus {
	 					border: 1px solid #f0c30e;
	 				}
	 			}
	 		}

	 		div.controls button {
	 			padding: 3px 75px;
	 			background-color: #f7931d;
	 			border: 1px solid #f7931d;
	 			border-radius: 5px;
	 			color: white;
	 			font-size: 2rem;
	 			transition: 0.5s all;
	 			margin-top: 20px;
	 		}
		}
	}

	&.gallery.mobile {
		background-color: white;
		padding-bottom: 70px;

		h2 {
			color: @phone_link_blue;
		}
	}

	&.about_us {
		background-image: url(../images/about-us-background-header-mobile.jpg);
		background-position: center;
		background-repeat: no-repeat;

		min-height: 600px;

		> article {
			display: block;
			padding: 1rem;
			border: 2px solid white;
			background-color: rgba(251,251,251,0.65);
			color: @phone_link_blue;
		}
	}
}